
body, html {
  scroll-behavior: smooth;
  margin: 0;
  width: auto;
  background-image: url(galaxy-2.png);
  background-color: black;
  background-repeat:repeat-y;
  background-position: center;
  background-size: cover;
  height: 100%;
}


.intro{
  position: relative;
  top:33%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: xx-large;
  text-align: center;
  background-color: whitesmoke;
  color:black;
  opacity: 0.5;
}
.title{
  display: flex;
  height: 20vh;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  color: black;
  left: 0%;
  transition: left 1s;
  align-items:center;
  justify-content:center;
  background-color: whitesmoke;
  opacity: 0.6;
  margin-bottom: 2%;
}

.title > h1 {
  opacity: 1;
}

.video{
  height: 70vh;
  position: relative;
  text-align: center;
  left: 0%;
  transition: left 1s;
}


.title-centered, .video-centered{
  left: 0%;
}

iframe{
  border-radius: 5%;
  width: calc(16*70vh/9);
  height: 70vh;
}

#experience > h2,p{
  padding-left: 5%;
  color:white;
}

#footer{
  position: relative;
  top: 100%;
}

#web-header{
  width: 100%;
  height: auto;
  border:1px red solid;
}
.nav-button{
  padding: 10%;
  color: white;
  border:1px green solid;
}

#button {
  display: flex;
  background-color: grey;
  border-radius: 5%;
  height: 100%;
  width: 30%;
  align-items:center;
  justify-content:center;
}

#button-container {
  border: 1px purple solid;
  height: 10vh;
  text-align: center;
}